@* _UserInfoCard.cshtml *@

@model UserInfo
@{

}

<div class="card" style="width: 18rem;">
    @await Html.PartialAsync("_ImageComponent", Model.MainImageFile, new ViewDataDictionary(ViewData)
    {
    {"maxWidth", "100px"},
    {"borderColor", "grey"}
    })
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h5 class="card-title">@Model.Profession</h5>
        <p class="card-text">@Model.Description</p>

        <div class="skills">
            @foreach (var userSkill in Model.UserSkills)
            {
                <span class="badge" style="background-color: @userSkill.Skill.Color; color: white; margin: 2px;">
                    @userSkill.Skill.Title
                </span>
            }
        </div>

        <a asp-area=""
           asp-controller="UserInfo"
           asp-action="View"
           asp-route-id="@Model.Id"
           class="btn btn-primary">View Profile</a>
    </div>
</div>
